body {
  font-family: sans-serif;
  
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 20px;
    padding-bottom:20px;
    /*grid-template-columns: 1fr 1fr;*/
    
}

@media(min-width:768){
  .header{
    position: sticky;
    top:20px;
    height: 90vh;
  }
}


.header-title {
    margin: 0;
    font-family: "ff-real-text-pro-2", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: #000000;
}

/*.header-nav {

}*/

.index .grid{
    display: grid;
   /* max-width: 1280px;
    margin: 0 auto;
    grid-template-columns: 400px 400px 400px;
    /*grid-templates-columns: 1fr 1fr;*/
    /*grid-templates-columns: repeat(auto-fill, minmax(200px, 1fr));*/
    /*grid-templates-columns: repeat(3,1fr);*/
    justify-content: center;
    gap: 60px;
}

@media(min-width:768px) {
  .index .grid{
    grid-template-columns: repeat(2,1fr);
    font-size: 45px;
  }
}

@media(min-width:1260px) {
  .index .grid{
    grid-template-columns: repeat(3,1fr);
    font-size: 64px;
  }
}


/*.projet-large{
    background: rgb(246, 230, 230);
    grid-column: span 2;
}*/

.item{
    display:grid;
    width:300px; /* selon votre maquette */
    background: #ffffff;
    text-decoration: none;
  
  }
  
  .item>*{
    grid-column: 1;
    grid-row:1;
    justify-self:center;
    align-self:center;
    color:#000000;
    transition:1s;
  }
  .item p{
    font-family: "ff-real-headline-pro-2", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 22px;
    opacity:0;
  }
  .item:hover img{
    opacity:0;
  }
  .item:hover p{
    opacity:1;
  }

.index{
    display: grid;
    gap: 24px;
    align-items: start;
}
@media(min-width:768px) {
  .index{
    grid-template-columns: repeat(200px 1fr);
  }
}

img{
    max-width: 100%;
}
