body {
  font-family: ff-real-headline-pro-2, sans-serif;
  font-weight: 200;
  
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    background: white; 
    display: grid;
    position: sticky;
    z-index: 999;
    top : 0%;
    grid-template-rows: 1fr auto;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 100px;
    /*grid-template-columns: 1fr 1fr;*/
    
}

@media(min-width:768){
  .header{
    position: sticky;
    top:20px;
    height: 90vh;
  }
}


.header-title {
    margin: 0;
    font-family: "ff-real-text-pro-2", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: #000000;
}

.header-nav {
  margin :0%;
  font-family:"ff-real-text-pro-2";
  font-weight: 400;
  font-size: 20px;
}


.header-nav a{
  text-decoration: none;
  color: #000000;
}

p{
  font-size: 16px;
}

.index .grid{
    display: grid;
    max-width: 1280px;
    margin: 0 auto;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    justify-content: center;
    gap: 50px;
    /* align-items: center; */
    justify-items: center;
  
}

.bb{
  padding: 2%;
  max-width: 1000px;
  margin: auto;
  gap: 0px;
  justify-content: center;
}

@media(min-width:768px) {
  .index .grid{
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    font-size: 45px;
  }
}

@media(min-width:768px) {
  .index .grid{
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    font-size: 45px;
  }
}


.lin-project{
  display: grid;
  color: black;
  text-decoration: none;
  font-size: 18px;
  max-width: 500px;
  margin: auto;
  justify-items: center;
  gap: 5px;
  text-align:center;
  padding-left: 1%;
  padding-right: 5%;
  padding-bottom: 10px;
}

@media(min-width:1260px) {
  .index .grid{
    grid-template-columns: repeat(3,1fr);
    font-size: 64px;
  }
}


/*.projet-large{
    background: rgb(246, 230, 230);
    grid-column: span 2;
}*/

.item{
    display:grid;
    background: #ffffff;
    text-decoration: none;
  
  }
  
  .item> *{
    grid-column: 1/-1;
    grid-row:1/-1;
    justify-self:center;
    align-self:center;
    color:#000000;
    transition:1s;
  }
  .item p{
    font-family: "ff-real-headline-pro-2", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 22px;
    opacity:0;
  }

.item img{
  width:100%;
  height:100%;
  display: block;
  object-fit: cover;
}

  .item:hover img{
    opacity:0;
  }
  .item:hover p{
    opacity:1;
  }

.index{
    gap: 0px;
    align-items: start;
}


img{
    max-width: 100%;
}

.link-project{
    display: grid;
    color: black;
    text-decoration: none;
    font-size: 18px;
    max-width: 800px;
    margin: auto;
    justify-items: center;
    gap: 5px;
    /* padding-left: 5%;
    padding-right: 5%; */
    padding-bottom: 10px;
}

.l{
  display: none;
}

@media (min-width:720px){
  .l{
    display: inline;
  }
}
.arrow {
    
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
  font-size: 20px;
  color: black;
  z-index: 1000;
}

@media (min-width:640px){
  .arrow {
      font-size: 30px;
  }
}

.left-arrow {
  left: 5%;
}

.right-arrow {
  right: 5%;
}